<div class="container">
    <h3 class="d-flex justify-content-center">Demo</h3>
    <h5 class="d-flex justify-content-center">Alex Protasov</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <button routerLink = 'department'
                class = 'm-1 btn btn-light bti-outline-primary' Button>department</button>
            </li>
            <li class="navbar-item">
                <button routerLink = 'employee'
                class = 'm-1 btn btn-light bti-outline-primary' Button>employee</button>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>